// .ui.table {
//     width: 50% !important;
//     margin: 0 auto !important;
// }
.table-category-admin{
    width: 80% !important;
    margin: 0 auto !important;
    td{ 
        .ui.image{
            width: 150px;
            height: 90px;
        }
    }
}
