.header-page-admin{
    display: flex;
    align-items: center;
    justify-content:  space-between;

    // width: 50% !important;
    // margin: 0 auto !important;

    > h2{
        margin: 0;
    }
}