.table-product-admin{
    td{
        .ui.image{
            width: 110px;
            height: 70px;
        }

        &.status{
            .icon{
                &.close{
                    color: #f00;
                }
                &.check{
                    color: #008000;
                }
            }
        }
    }
}