.header-page-admin{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 85% !important;
    padding-bottom: 2% !important;
    margin: 0 auto !important;
}
.table-tables-admin{
    // padding: 10%;
    width: 70% !important;
    // text-align: center !important;
    margin: 0 auto !important;
    // justify-content: space-around;
}